<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OntoSeer-Web</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="tabs.css">
<link rel="stylesheet" href="footer.css">
<link rel="stylesheet" href="loader.css">
<link href="multiselect.css" rel="stylesheet">
<script src="multiselect.min.js"></script>
</head>
<body>
<!-- Navbar -->
<div class="w3-bar w3-black w3-card w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">OntoSeer</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right-align">About us</a>
    <a href="https://github.com/kracr/ontoseer-standalone" class="pull-left" target="_blank"><img src="github_image_new.png" style="max-width: 25%"/></a>
</div>
<!-- Header -->

<!-- First Grid -->
<div class="w3-row-padding w3-white w3-padding-64 w3-container">
    <div class="w3-twothird">
    <h1>About OntoSeer</h1>
    <h4 class="w3-padding w3-large">While building an ontology, there are several things to consider such as reusing concepts/properties
       from the existing ontologies, using ontology design patterns (ODPs), following the naming conventions for concepts/properties and 
       designing a good class hierarchy. These are issues that beginner ontology engineers find hard and can be tricky for experienced ones 
       as well. OntoSeer is a Protege plugin that overlooks the ontology that is being built in Protege and offers different types of recommendations</h4>
    <h4 class="w3-padding w3-large"> Ontoseer Comes with the following features:<br><br><ul>
      <li>Class naming recommendation</li>
      <li>Property naming recommendation</li>
      <li>ODP recommendation</li>
      <li>Axiom recommendation</li>
      <li>ClassHeirarchy validation</li>
      <li>Vocabulary Recommendation</li>
    </ul></h4>
    </div>
    <div class="w3-third w3-center">
    <i class="w3-padding-64 w3-text-red w3-margin-right">
      <br><br>
      <iframe width="500" height="400"
        src="https://www.youtube.com/embed/8WrgaHixkww#t=2m54s?autoplay=1&mute=1">
      </iframe>
    </i>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <table class="table" style="margin-left: 2%;margin-right: 2%;">
    <style>
      .table td, .table th {
          font-size: 15px;
          border: none;
      }
    </style>
    <tr >
      <th>Class naming Recommendation</th>
      <th>Property naming Recommendation</th>
      <th>ODP Recommendation</th>
      <th>Axiom Recommendation</th>
      <th>Class Heirarchy Validation</th>
      <th>Vocabulary Recommendation</th>
    </tr>
    <tr>
      <td>Class names from LOV and BioPortal and other sites are recommended to the developers.</td>
      <td>Property names from LOV and BioPortal and other sites are recommended to the developers.</td>
      <td>OntoSeer interacts with the ontology developer and recommends the Ontology Design Patterns(ODPs).</td>
      <td>OntoSeer can recommend axioms such as disjointedness among class siblings, and property characteristics, 
        based on finding a match of the entities (classes, properties) in  ontology with those in the ontology corpus.</td>
      <td>OntoSeer validates the class hierarchy based on Rigidity, Identity, and Unity properties. </td>
      <td>Vocabulary names from LOV and BioPortal and other sites are recommended to the developers.</td>
    </tr>
  </table>
</div>
<footer class="container-footer w-container">
    <div class="w-row">
      <div class="footer-column w-clearfix w-col w-col-4">
        <h3 class="footer-failory-name">OntoSeer</h3>
        <p class="footer-description-failory">helps improve quality of Ontology<br></p>
      </div>
      <div class="footer-column w-col w-col-8">
        <div class="w-row">
          <div class="w-col w-col-8">
            <div class="w-row">
              <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                <h3 class="footer-titles">Get Ontology</h3>
                <p class="footer-links"><a href="https://bioportal.bioontology.org/" target="_blank"><span class="footer-link">Bio-Portal<br></span></a>
                  <a href="http://geneontology.org/docs/download-ontology/" target="_blank"><span class="footer-link">Gene Ontology<br></span></a>
                  <a href="https://www.w3.org/wiki/Lists_of_ontologies" target="_blank"><span class="footer-link">Others<br></span></a></p>
              </div>
              <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                <h3 class="footer-titles">Other</h3>
                <p class="footer-links"><a href="https://kracr.iiitd.edu.in/"><span class="footer-link">Kracr Lab<br></span></a>
                    <a href="https://docs.google.com/forms/d/1TlYaGaQYB2ewwAJbcIZDxXz2APyngvsvSbMRmizbf94" target="_blank"><span class="footer-link">Suggestions<br></span></a>
                    <a href="https://github.com/kracr/ontoseer"><span class="footer-link">Protege Plugin<br></span></a></p>
              </div>
            </div>
          </div>
          <div class="column-center-mobile w-col w-col-4">
            <h3 class="footer-titles">Contact Us!</h3>
            <p class="footer-description">Email : <strong class="link-email-footer">raghava.mutharaju@iiitd.ac.in</strong><br></p>
          </div>
        </div>
      </div>
    </div>
</footer>
</body>