<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OntoSeer-Web</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="tabs.css">
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">OntoSeer</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-orange w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">OntoSeer</h1>
  <h5>While building an ontology, there are several things to consider such as reusing concepts/properties 
    from the existing ontologies, using ontology design patterns (ODPs), following the naming conventions for concepts/properties 
    and designing a good class hierarchy. These are issues that beginner ontology engineers find hard and can be tricky for 
    experienced ones as well. OntoSeer is a Protege plugin that overlooks the ontology 
    that is being built in Protege and offers different types of recommendations. </h5>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" id="bt2">Get Started</button>
  <script>
    function custom_scroll() {
      window.scrollBy({ 
        top: 400, // could be negative value
        left: 0, 
        behavior: 'smooth' 
      });
    }
    function custom_scroll1() {
      window.scrollBy({ 
        top: 750, // could be negative value
        left: 0, 
        behavior: 'smooth' 
      });
    }
    document.getElementById("bt2").addEventListener("click", custom_scroll);
  </script>
</header>

<!-- second grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="tab">
    <button class="tablinks" onclick="openupload(event, 'FileUpload')" id="defaultOpen">Upload a File</button>
    <button class="tablinks" onclick="openupload(event, 'Paste')">Paste</button>
    <button class="tablinks" onclick="openupload(event, 'PasteUrl')">PasteUrl</button>
  </div>
  <div id="FileUpload" class="tabcontent">
    <h3>Upload File</h3>
    <input type="file" name="file" id="file" /><br/><br/>
    <input type="submit" value="Submit" id='submit'/>  
  </div>
  <div id="Paste" class="tabcontent">
    <h3>Paste</h3>
    <form id="pasteform">
      <textarea id="pastebin" rows = "8" cols = "80" name = "pastebin"></textarea>
      <br/>
    <input type="submit" value="Submit" id="submittext" />
    </form>
  </div>
  <div id="PasteUrl" class="tabcontent">
    <h3>PasteUrl</h3>
    <form id="pasteurl">
      <textarea id="URL" rows = "1" cols = "80" name = "URL"></textarea>
      <br/>
    <input type="submit" value="Submit" id="submiturl" />
    </form>
  </div>
  <script>
    document.getElementById("defaultOpen").click();
    const paste=document.getElementById('pasteform');
    const pasteurl =document.getElementById('pasteurl');
    pasteurl.addEventListener('submit',function(e){
      e.preventDefault();
      const payload =new FormData(pasteurl);
      console.log([...payload]);
      fetch('/uploadurl', {
      method: 'POST',
      body: payload
      })
      .then(res => res.json())
      .then(json => console.log(json))
      .catch(err => console.error(err));
    })
    paste.addEventListener('submit',function(e){
      e.preventDefault();
      const payload =new FormData(paste);
      console.log([...payload]);
      fetch('/uploadtext', {
      method: 'POST',
      body: payload
    })
    .then(res => res.json())
    .then(json => console.log(json))
    .catch(err => console.error(err));
    })
    const input = document.getElementById('file');
    const sub=document.getElementById("submit");
    sub.addEventListener('click', () => {
      alert("clicked on submit")
      uploadFile(input.files[0])
    })
    const uploadFile = file => {
    // add the file to the FormData object
    const fd = new FormData()
    fd.append('file', file)
    console.log([...fd]);
    // send `POST` request
    fetch('/upload', {
      method: 'POST',
      body: fd
    })
    .then(res => res.json())
    .then(json => getclass(json))
    .catch(err => console.error(err));
    }
    function getclass(json){
      console.log(json);
      var dropdown=document.getElementById("classrecc");
      let option;
      for (let i=1;i<dropdown.options.length;i++){
        dropdown.remove(i);
      }
      for (let i=0;i<json.length;i++){
        option = document.createElement('option');
        option.text = json[i];
        option.value = json[i];
        dropdown.add(option);
      }
    }
    function openupload(evt, uploadtype) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the link that opened the tab
      document.getElementById(uploadtype).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
</div>

<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="tab">
    <button class="resultlinks" onclick="opentab(event, 'cr')" id="defaultresult">Class Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'pr');getproperty()">Property Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'or')">ODP Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'ar')">Axiom Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'hv')">Class heirarchy validation</button>
    <button class="resultlinks" onclick="opentab(event, 'vr')">Vocabulary Recommendation</button>
  </div>
  <div id="cr" class="resultcontent">
    <select id="classrecc" onchange="setclass(this)">
      <option value="0">select class</option>
    </select>
    <ul id="Classchange">
    </ul>
  </div>
  <div id="pr" class="resultcontent">
    <select id="propertyrecc" onchange="setproperty(this)">
      <option value="0">select property</option>
    </select>
    <ul id="Propertychange">
    </ul>
  </div>
  <div id="or" class="resultcontent">
    <form id="odp">
      <label for="desc">Description of Ontology</label><br>
      <input type="text" id="desc" name="ontdesc" size="100"><br><br>
      <label for="ontdomaion">Domain of Ontology</label><br>
      <input type="text" id="domain" name="ontdomain" size="100"><br><br>
      <label for="ontcompetency">Competency Question</label><br>
      <input type="text" id="competency" name="ontcompetency" size="100"><br><br>
      <input type="submit" value="Submit" id="submitodp" />
    </form>
    <ul id="odprecommendation">
    </ul>
  </div>
  <script>
    document.getElementById("defaultresult").click();
    const odp=document.getElementById('odp');
    odp.addEventListener('submit',function(e){
      e.preventDefault();
      const payload =new FormData(odp);
      console.log([...payload]);
      fetch('/odp', {
      method: 'POST',
      body: payload
      })
      .then(res => res.json())
      .then(json => set_odp_output(json))
      .catch(err => console.error(err));
    })
    function set_odp_output(json){
      let list=document.getElementById('odprecommendation');
      list.innerHTML='';
      for (let i=0;i<json.length;i++){
        let li = document.createElement("li");
        li.innerText = json[i];
        list.appendChild(li);
      }
    }
    function getproperty(){
      fetch('/pr')
      .then(res=>res.json())
      .then(json=>get_proplist(json))
    }
    function setproperty(ans){
      const fd = new FormData()
      fd.append('reqpropname', ans.value);
      console.log([...fd])
      fetch('/pr', {
      method: 'POST',
      body: fd
      })
      .then(res => res.json())
      .then(json => set_property_output(json))
      .catch(err => console.error(err));
      }
    function get_proplist(json){
      console.log(json);
      var dropdown=document.getElementById("propertyrecc");
      let option;
      for (let i=1;i<dropdown.options.length;i++){
        dropdown.remove(i);
      }
      for (let i=0;i<json.length;i++){
        option = document.createElement('option');
        option.text = json[i];
        option.value = json[i];
        dropdown.add(option);
      }
    }
    function set_property_output(json){
      let list=document.getElementById('Propertychange');
      list.innerHTML='';
      for (let i=0;i<json.length;i++){
        let li = document.createElement("li");
        li.innerText = json[i];
        list.appendChild(li);
      }
    }
    function setclass(ans){
      const fd = new FormData()
      fd.append('reqclassname', ans.value);
      console.log([...fd])
      fetch('/cr', {
      method: 'POST',
      body: fd
      })
      .then(res => res.json())
      .then(json => set_class_output(json))
      .catch(err => console.error(err));
      }
    function set_class_output(json){
      let list=document.getElementById('Classchange');
      list.innerHTML='';
      for (let i=0;i<json.length;i++){
        let li = document.createElement("li");
        li.innerText = json[i];
        list.appendChild(li);
      }
    }
    function opentab(evt, tabname) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("resultcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

   // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("resultlinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabname).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>
</div> 

<div class="w3-row-padding w3-white w3-padding-64 w3-container">

</div>
</body>
</html>