<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OntoSeer-Web</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="tabs.css">
<link rel="stylesheet" href="upload.css">
<link rel="stylesheet" href="loader.css">
<link href="multiselect.css" rel="stylesheet">
<script src="multiselect.min.js"></script>
</head>
<body>
  <div class="loader" id="loader"></div>
<!-- Navbar -->
<div class="w3-bar w3-black w3-card w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">OntoSeer</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right-align">About us</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right-align">Publications</a>
</div>

<!-- Header -->
<header class="w3-container w3-orange w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">OntoSeer</h1>
  <h3 style="text-align: justify;">While building an ontology, there are several things to consider such as reusing concepts/properties 
    from the existing ontologies, using ontology design patterns (ODPs), following the naming conventions for concepts/properties 
    and designing a good class hierarchy. These are issues that beginner ontology engineers find hard and can be tricky for 
    experienced ones as well. OntoSeer is a Protege plugin that overlooks the ontology 
    that is being built in Protege and offers different types of recommendations. </h3>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" id="bt2">Start by Uploading an Ontology</button>
  <script src="scroll.js"></script>
</header>

<!-- second grid -->
<div class="w3-row-padding w3-light-grey w3-container">
  <h2>Provide Your Ontology</h2>
  <div class="tab">
    <button class="tablinks" onclick="openupload(event, 'FileUpload')" id="defaultOpen">Upload a File</button>
    <button class="tablinks" onclick="openupload(event, 'Paste')">Paste</button>
    <button class="tablinks" onclick="openupload(event, 'PasteUrl')">PasteUrl</button>
  </div>
  <div id="FileUpload" class="tabcontent">
    <label for="Ontology" class="drop-container">
      <span class="drop-title">Drop files here</span>
      or
      <input type="file" id="file" accept=".owl,.rdf" required> 
    </label>
  </div>
  <div id="Paste" class="tabcontent">
    <h3>Paste</h3>
    <form id="pasteform">
      <textarea class="text-area" id="pastebin" rows = "8" cols = "100" name = "pastebin"></textarea>
      <br/>
    <input type="submit" value="Submit" id="submittext" />
    </form>
  </div>
  <div id="PasteUrl" class="tabcontent">
    <h3>PasteUrl</h3>
    <form id="pasteurl">
      <input type="text" id="URL" name = "URL">
      <br/>
    <input type="submit" value="Submit" id="submiturl" />
    </form>
  </div>
  <script src="uploadfile.js"></script>
  <script>
    document.getElementById("defaultOpen").click();
    function openupload(evt, uploadtype) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the link that opened the tab
      document.getElementById(uploadtype).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
</div>
<div class="w3-light-gray w3-container ">
  <h2>Results</h2>
  <div class="tab">
    <button class="resultlinks" onclick="opentab(event, 'cr')" id="defaultresult">Class Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'pr');getproperty()">Property Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'or')">ODP Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'ar')">Axiom Recommendation</button>
    <button class="resultlinks" onclick="opentab(event, 'hv')">Class heirarchy validation</button>
    <button class="resultlinks" onclick="opentab(event, 'vr')">Vocabulary Recommendation</button>
  </div>
  <br>
  <br>
  <div id="cr" class="resultcontent">
    <label for="classrecc">Select Class</label> <br>
    <select multiple="multiple" id="classrecc">
    </select>
    <button type="button" id="submitclass">Submit</button>
    <br><br><br>
    <table class="table ">
      <th>ClassName</th>
      <th>Recommendation</th>
      <th>Source/IRI</th>
    </table>
    <ul id="Classchange">
    </ul>
  </div>
  <div id="pr" class="resultcontent">
    <label for="propertyrecc">Select Property</label>
    <select multiple="multiple" class="w3-select" id="propertyrecc"></select>
    <button type="button" id="submitproperty">Submit</button><br><br>
    <table class="table ">
      <th>PropertyName</th>
      <th>Recommendation</th>
      <th>Source/IRI</th>
    </table>
    <ul id="Propertychange">
    </ul>
  </div>
  <div id="or" class="resultcontent">
    <form id="odp">
      <label for="desc">Description of Ontology</label><br>
      <input type="text" id="desc" name="ontdesc" size="100"><br><br>
      <label for="ontdomaion">Domain of Ontology</label><br>
      <input type="text" id="domain" name="ontdomain" size="100"><br><br>
      <label for="ontcompetency">Competency Question</label><br>
      <input type="text" id="competency" name="ontcompetency" size="100"><br><br>
      <input type="submit" value="Submit" id="submitodp" />
    </form>
    <ul id="odprecommendation">
    </ul>
  </div>
  <div id="ar" class="resultcontent">
    <label for="axiomrecc">Select Class/Property</label>
    <select multiple="multiple" class="w3-select" id="axiomrecc"></select>
    <button type="button" id="submitaxiom">Submit</button><br><br>
    <table class="table ">
      <th>Class or Property Name</th>
      <th>Recommendation</th>
      <th>Source/IRI</th>
    </table>
  </div>
  <div id="hv" class="resultcontent">
    <form id="hval">
      <label for="q1">Do the properties of superclass cease to exit in the future(temporal dependency)?</label>
      <input type="checkbox" id="q1" name="q1" value="Y"><br>
      <label for="q2">Do the properties of the sub class cease to exist in the future(temporal dependency)?</label>
      <input type="checkbox" id="q2" name="q2" value="Y"><br>
      <label for="q3"> Are the properties of super-class and sub-class identical?</label>
      <input type="checkbox" id="q3" name="q3" value="Y"><br>
      <label for="q4"> Are the properties of sub-class part of the properties whole class?</label>
      <input type="checkbox" id="q4" name="q4" value="Y"><br>
      <input type="submit" value="Submit" id="submithv" />
    </form>
  </div>
  <div id="vr" class="resultcontent">
    <label for="vocabrecc">Select Class/Property</label>
    <select multiple="multiple" class="w3-select" id="vocabrecc"></select>
    <button type="button" id="submitvocab">Submit</button><br><br>
    <table class="table ">
      <th>Class or Property Name</th>
      <th>Source</th>
      <th>IRI</th>
    </table>
  </div>
  <script>
    document.multiselect('#classrecc').setIsEnabled(true);
    document.multiselect('#propertyrecc').setIsEnabled(true);
    document.multiselect('#axiomrecc').setIsEnabled(true);
    document.multiselect('#vocabrecc').setIsEnabled(true);
    document.getElementById("defaultresult").click();
    function opentab(evt, tabname) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("resultcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

   // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("resultlinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabname).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>
  <script src="classlist.js"></script>
  <script src="odp.js"></script>
  <script src="property.js"></script>
</div> 
<div class="w3-row-padding w3-light-gray w3-padding-64 w3-container">
  <h2>Download Result</h2>
</div>
</body>
</html>